{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html {
            scroll-behavior: smooth;
        }
        body {
            background-color: #e6ffe6; /* Замените на нужный цвет */
        }
    </style>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-success bg-warning">
        <div class="container">
            <a class="navbar-brand" href="#">  СНТ - "РОСИНКА"</a>
            <nav>
                <a href="#about"> О нас</a>
                <a href="#masters">Специалисты</a>
                {% if user.is_authenticated %}
                <a href="#booking">Оставить заявку</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <section id="about" class="py-5">
            <div class="container">
                <h2>О НАС</h2>
                <h4>Как интересно, весело и приятно провести время на даче!!!  Можно ходить в лес за ягодами или грибами, заниматься рыбалкой, устраивать пикники и играть на свежем воздухе. Отсутствие городской суеты и постоянного шума благотворно влияет на психику и снижает уровень стресса.У нас закрытая, охраняемая территория. Если любите свежий воздух, приезжайте к нам! Ростовская область, Аксайский район, Мишкинское сельское поселение, садоводческое некоммерческое товарищество Росинка</h4>
            </div>
        </section>

        <section id="masters" class="py-5 bg-bg-opacity: .5;" >
            <div class="container" style="background-color: #e6ffe6;" >
                <h2>НАШИ СПЕЦИАЛИСТЫ</h2>
                <div class="row">
                    {% for master in masters %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ master.photo.url }}" class="card-img-top" alt="{{ master.first_name }}">
                            <div class="card-body">
                                <h5>{{ master.first_name }} {{ master.last_name }}</h5>
                                <p>{{ master.contact_info }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if user.is_authenticated %}
        <section id="booking" class="py-5">
            <div class="container">
                <h2>Напишите заявку</h2>
                <form method="post" id="booking-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Оставить заявку</button>
                </form>
            </div>
        </section>
        {% else %}
        <section class="py-5 bg-light">
            <div class="container text-center">
                <h2>Для оформления заявки необходима регистрация</h2>
                <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a> чтобы оставить заявку.</p>
            </div>
        </section>
        {% endif %}
    </main>

    <footer  class="bg-primary text-white py-4">
        <div style="display: flex; justify-content: center; align-items: center;" class="container">
              РОСИНКА 2025.        Все права защищены!!!
              <br>Сайт создал Парахуда Артем
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'appointments/js/main.js' %}"></script>
</body>
</html>
